.section-header h2 {
    color:#F2AA4C;
}


.section-header h2::before {
    background: #101820;
    width : 80px;
    left: 50%;
    transform: translate(-50%);
}

#testimonials .testimonial-item {
    background-color: white;
    border-radius: 5%;
}

.dropdown{
    margin-top:0.8em;
}

.card-img-top{
    height: 200px;
}

.card-deck{
    margin-right: 2% !important;
    margin-left: 2% !important;
}