.body{
  margin:0;
}
.rs{
  background-color: 	#898989;
  margin:0;
}

.rr{
  padding-left:0.5em;
}

.draw-b{
  height:45px;
  background-color: black;
}
.firstImage{
  width:225px;
  height:40px;
}

.disc{
  margin-left:43em;
}

.chn{
  padding-left: 1em;
}

.sp{
  margin-left:0.5em;
}

.sp2{
  margin-left:1.5em;
}

.add-something{
	margin-left: 2em;
}

.ss{
  margin-bottom: 10em;
}

.ln {
  height: 1.5em;
  background-color: black;
}

.outro {
  padding-left: 0.5em;
}

.add-space {
  padding-left: 6.4em;
}
.align-set {
  padding-right: 0.7em;
}

.align-set2 {
  padding-right: 2.8em;
}
#subplot {
	max-width: 200px;
	max-height: 200px;
}

.incs{
  margin-left: 15px;
  margin-top: 10px ;
}

.incs2{
  margin-left: 45px;
  margin-top: 20px ;
}

.tx{
  margin-left: 15px;
}

.box{
  border:1px solid #000;
  width: 90%;
}